doctype html
html
  head
    title= title
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/paint.js')
    script(type='text/javascript' src='/javascripts/funciones_socket.js')
    
